{% extends "base.html.twig" %}
{% block title %}SkillsFarm{% endblock %}
{% block body %}
    <!--Start of Slider Area-->
    <div class="slider-area">
        <div class="preview-2">
            <div id="nivoslider" class="slides">
                <img src="/img/dream.jpg" alt="" title="#slider-1-caption1"/>
                <img src="/img/startup.jpg" alt="" title="#slider-1-caption2"/>
            </div>
            <div id="slider-1-caption1" class="nivo-html-caption nivo-caption">
                <div class="banner-content slider-1">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-content-wrapper">
                                    <div class="text-content text-center">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="3s"
                                            data-wow-delay="0s">One million success stories</h4>
                                        <h1 class="title1 wow bounceInRight text-white mb-16" data-wow-duration="3s"
                                            data-wow-delay="0s">Find the best one for you</h1>
                                        <p class="sub-title wow bounceInRight hidden-xs" data-wow-duration="3s"
                                           data-wow-delay="1s"> Submit your resume<br>and let the job search for you<br>
                                            at
                                        </p>
                                        <h1 style="color: white"><b>Skillsfarm...</b></h1>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="3s"
                                             data-wow-delay="2s">
                                            <a class="button slider-btn" href="{{ path('_general') }}">Submit Resume</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="slider-1-caption2" class="nivo-html-caption nivo-caption">
                <div class="banner-content slider-2">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="text-content-wrapper">
                                    <div class="text-content slide-2 text-center">
                                        <h4 class="title2 wow bounceInLeft text-white mb-16" data-wow-duration="3s"
                                            data-wow-delay="0s">At <b>Skillsfarm</b></h4>
                                        <h1 class="title1 wow flipInX text-white mb-16" data-wow-duration="1s"
                                            data-wow-delay="0s">Find the best of best jobs</h1>
                                        <p class="sub-title wow lightSpeedIn hidden-xs" data-wow-duration="1s"
                                           data-wow-delay=".2s">The best team would contact you <br> on submission of
                                            your resume<br>You can fill the form and get started</p>
                                        <div class="banner-readmore wow bounceInUp mt-35" data-wow-duration="1s"
                                             data-wow-delay=".6s">
                                            <a class="button slider-btn" href="{{ path('_general') }}">Submit Resume</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="search-catestyle2">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 ml-auto mr-auto">
                    <div class="job-search-content text-center">
                        <form action="{{ path('_job_search') }}" method="post" id="search_form">
                            <div class="form-container">
                                <div class="box-select" style="width: 111%;right: 44px;">
                                    <div class="select">
                                        <input type="text" placeholder="Job title/keywords" name="keyword" id="keyword"
                                               style="height: 60px;background-color: white;"/>
                                    </div>
                                    <div class="select">
                                        <input type="text" placeholder="City, province or region" name="location"
                                               onkeydown="initMap(this);"
                                               id="location" style="height: 60px;background-color: white;"/>
                                        <input type="hidden" name="latitude" id="latitude" value=""/>
                                        <input type="hidden" name="longitude" id="longitude" value=""/>
                                        <input type="hidden" name="county" id="county" value=""/>
                                        <input type="hidden" name="country" id="country" value=""/>
                                        <input type="hidden" name="isCountry" id="isCountry" value=""/>
                                        <input type="hidden" name="radius" id="radius" value="10"/>
                                    </div>
                                    <div class="select">
                                        <select name="category" class="form-control" id="category" style="overflow: scroll">
                                            <option value="default">Job Category</option>
                                            {% for cat in category %}
                                                <option value="{{ cat.id }}">{{ cat.vccategoryname }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="select">
                                        <select name="type" class="form-control" id="type">
                                            <option value="default">Job Type</option>
                                            {% for type in jobtype %}
                                                <option value="{{ type.id }}">{{ type.vctype }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div style="display: none">
                                        <input type="date" value="" id="startdate" name="startdate"/>
                                        <input type="date" value="" id="enddate" name="enddate"/>
                                    </div>
                                    <div class="select">
                                        <button type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="job-categroy-area ptb-130 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>Job Categories</h2>
                    </div>
                </div>
            </div>
            <div class="category-job-list-actiive owl-carousel">
                <div class="category-item address" onclick="javascript:searchforJobstype('1')">
                    <div class="img-icon">
                        <img src="images/icons/cat3.png" alt="">
                    </div>
                    <h5>Teaching Jobs</h5>
                </div>
                <div class="category-item" onclick="javascript:searchforJobstype('5')">
                    <div class="img-icon">
                        <img src="images/icons/cat2.png" alt="">
                    </div>
                    <h5>Information Technology</h5>
                </div>
                <div class="category-item" onclick="javascript:searchforJobstype('7')">
                    <div class="img-icon">
                        <img src="images/icons/cat1.png" alt="">
                    </div>
                    <h5>Hospitality
                    </h5>
                </div>
                <div class="category-item" onclick="javascript:searchforJobstype('2')">
                    <div class="img-icon">
                        <img src="images/icons/cat4.png" alt="">
                    </div>
                    <h5>Counselling</h5>
                </div>
                <div class="category-item" onclick="javascript:searchforJobstype('8')">
                    <div class="img-icon">
                        <img src="images/icons/cat1.png" alt="">
                    </div>
                    <h5>Banking</h5>
                </div>
                <div class="category-item" onclick="javascript:searchforJobstype('11')">
                    <div class="img-icon">
                        <img src="images/icons/cat2.png" alt="">
                    </div>
                    <h5>Real Estate</h5>


                </div>
                <div class="category-item" onclick="javascript:location.href='{{ path('_contactus') }}'">
                    <div class="img-icon">
                        <img src="images/icons/cat4.png" alt="">
                    </div>
                    <h5>Walk-in Drives</h5>
                </div>
                <div class="category-item" onclick="javascript:location.href='{{ path('_contactus') }}'">
                    <div class="img-icon">
                        <img src="images/icons/cat1.png" alt="">
                    </div>
                    <h5>Government Jobs</h5>
                </div>
                <div class="category-item" onclick="javascript:searchforJobstype('14')">
                    <div class="img-icon">
                        <img src="images/icons/cat3.png" alt="">
                    </div>
                    <h5>Automobile</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Job Category End -->
    <!--Start of Job Post Area-->
    <div class="job-post-area pb-100 pb-sm-35">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>All Jobs</h2>
                        <p>The best jobs for you..</p>
                    </div>
                </div>
            </div>
            <!-- Section Title End -->
            <div class="all-job-post">
                <!-- Nav tabs -->
                <div class="post-tab nav">
                    <a class="nav-link active" data-toggle="tab" href="#featured">FEATURED</a>
                    <a class="nav-link" data-toggle="tab" href="#recent_job">RECENT</a>
                    <a class="nav-link" data-toggle="tab" href="#top">TOP</a>
                    <a class="nav-link" data-toggle="tab" href="#mostapplied">MOST APPLIED</a>
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="row">
                            {% if jobfeatured|length == 0 %}
                                <span style="padding-left: 5%">
                                    <h4>No Jobs Found! click <a style="color: blue;" href="{{ path('_job_search') }}">here</a> and check the latest jobs</h4>
                                </span>
                            {% else %}
                                {% for jobf in jobfeatured %}
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                            <div class="address"
                                                 onclick="javascript:location.href='/description/{{ jobf['id'] }}'">
                                                <h6>{{ jobf['headline'] }}</h6>
                                                <p><i class="fa fa-map-marker"></i>&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ jobf['location'] }}</p>
                                                <p><i class="fa fa-money"></i>
                                                    &nbsp;&nbsp;&nbsp;{{ jobf['salary'] }}</p>
                                            </div>
                                            <div class="button-box"><a href="/description/{{ jobf['id'] }}"
                                                                       class="button button-black">APPLY NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="recent_job">
                        <div class="row">
                            {% if jobrecent|length == 0 %}
                                <span style="padding-left: 5%">
                                <h4> No Jobs Found! click <a style="color: blue;"
                                                             href="{{ path('_job_search') }}">here</a> and check the latest jobs</h4>
                               </span>
                            {% else %}
                                {% for jobf in jobrecent %}
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                            <div class="address"
                                                 onclick="javascript:location.href='/description/{{ jobf['id'] }}'">
                                                <h6>{{ jobf['headline'] }}</h6>
                                                <p><i class="fa fa-map-marker"></i>&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ jobf['location'] }}</p>
                                                <p><i class="fa fa-money"></i>
                                                    &nbsp;&nbsp;&nbsp;{{ jobf['salary'] }}</p>
                                            </div>
                                            <div class="button-box"><a href="/description/{{ jobf['id'] }}"
                                                                       class="button button-black">APPLY NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="top">
                        <div class="row">
                            {% if jobtop|length == 0 %}
                                <span style="padding-left: 5%">
                                   <h4>No Jobs Found! click <a style="color: blue;" href="{{ path('_job_search') }}">here</a> and check the latest jobs</h4>
                                </span>
                            {% else %}
                                {% for jobf in jobtop %}
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                            <div class="address"
                                                 onclick="javascript:location.href='/description/{{ jobf['id'] }}'">
                                                <h6>{{ jobf['headline'] }}</h6>
                                                <p><i class="fa fa-map-marker"></i>&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ jobf['location'] }}</p>
                                                <p><i class="fa fa-money"></i>
                                                    &nbsp;&nbsp;&nbsp;{{ jobf['salary'] }}</p>
                                            </div>
                                            <div class="button-box"><a href="/description/{{ jobf['id'] }}"
                                                                       class="button button-black">APPLY NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="tab-pane" id="mostapplied">
                        <div class="row">
                            {% if jobmostapplied|length == 0 %}
                                <span style="padding-left: 5%">
                                  <h4>No Jobs Found! click <a style="color: blue;"
                                                              href="{{ path('_job_search') }}">here</a> and check the latest jobs</h4>
                                </span>
                            {% else %}
                                {% for jobf in jobmostapplied %}
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                            <div class="address"
                                                 onclick="javascript:location.href='/description/{{ jobf['id'] }}'">
                                                <h6>{{ jobf['headline'] }}</h6>
                                                <p><i class="fa fa-map-marker"></i>&nbsp;
                                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{ jobf['location'] }}</p>
                                                <p><i class="fa fa-money"></i>
                                                    &nbsp;&nbsp;&nbsp;{{ jobf['salary'] }}</p>
                                            </div>
                                            <div class="button-box"><a href="/description/{{ jobf['id'] }}"
                                                                       class="button button-black">APPLY NOW</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Job Post Area -->
    <!--Start of Fun Factor Area-->
    <div class="fun-factor-area bg-6 text-center ptb-100 pt-sm-60 pb-sm-30">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: black"><span class="counter">100</span> +</h1>
                        <h3 style="color: black">Jobseekers</h3>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: red"><span class="counter">150</span> +</h1>
                        <h3 style="color: red">Company</h3>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: black"><span class="counter">1</span></h1>
                        <h3 style="color: black">Skillsfarm Site</h3>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="single-fun-factor">
                        <h1 style="color: blue"><span class="counter">240</span>+</h1>
                        <h3 style="color: blue">Resume</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Fun Factor Area-->
    <!-- Working Aera Start -->
    <div class="woring-area pt-130 pb-100 pt-sm-60 pb-sm-30">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>How It Works</h2>
                        <p></p>
                    </div>
                </div>
            </div>
            <!-- Section Title End -->
            <div class="row work-shap">
                <div class="col-md-4">
                    <div class="work-item">
                        <div class="img-icon">
                            <img src="images/icons/wrk1.png" alt="">
                        </div>
                        <h5>Create An Account</h5>
                        <p>You may create an account by using a user name, password, and email id</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-item">
                        <div class="img-icon">
                            <img src="images/icons/wrk2.png" alt="">
                        </div>
                        <h5>Search Desired Job</h5>
                        <p>Search based on requirement</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="work-item">
                        <div class="img-icon">
                            <img src="images/icons/wrk3.png" alt="">
                        </div>
                        <h5>Send Your Resume</h5>
                        <p>Once you have registered your account with skillsfarm,you may upload your recent updated
                            resume with all relevant facts,contact details.You may always verify your contact details
                            and let recruiters reach you with your desired jobs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Working Aera End -->
    <!--Testimonial Area Start-->
    <div class="testimonial-area bg-7 text-center fix ptb-100 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 ml-auto mr-auto">
                    <div class="section-title text-white">
                        <h2>Our Clients</h2>
                        <p>Cheers to our clients</p>
                    </div>
                    <div class="testimonial-carousel carousel-style-one">
                        <div class="single-testimonial">
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">Very informative and very pleasant. Really helpful in clearing
                                    all my confusion.Looking forward to studying in UK.</p>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name text-white">Rajshekar R</span>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">Really helped me out a lot. And the fact that they are open
                                    every day of the week ensured that I did'nt have to wait for my doubts to be
                                    cleared. They are the reason I got a great score in SAT examination and admission
                                    offers from most places I applied to. I would recommend EduAims to anyone who wants
                                    to take SAT classes and study abroad.</p>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name text-white">Kiran</span>
                            </div>
                        </div>
                        <div class="single-testimonial">
                            <div class="testimonial-text pt-46">
                                <p class="text-white p-0">Not being that great at academics, I was a bit apprehensive.
                                    The counsellors at EduAims helped me build my profile well enough to get into
                                    LSE.</p>
                            </div>
                            <div class="testimonial-info">
                                <span class="testimonial-name text-white">Jowin J</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Testimonial Area-->
    <!--Start of Blog Area-->
    <div class="blog-area pt-130 pb-110 pt-sm-60 pb-sm-40">
        <div class="container">
            <!-- Section Title Start -->
            <div class="row">
                <div class="col-md-12">
                    <div class="section-title text-center ">
                        <h2>Our Blogs</h2>
                        <p>Here comes some interesting Blogs for you...</p>
                    </div>
                </div>
            </div>
            <div class="blog-carousel carousel-style-two">
                {% set j=0 %}
                {% for item in rss %}
                    {% for i in item.item %}
                        <div class="single-blog hover-effect">
                            <div class="blog-image box-hover">
                                <a href="{{ i.link }}" class="block">
                                    <img width="390" height="275" src="" alt="" id="img_{{ j }}">
                                </a>
                            </div>
                            <div class="blog-text">
                                <h4><a href="{{ i.link }}"> {{ i.title }}</a></h4>
                                <div class="blog-post-info">
                                    <span>{{ i.pubDate|date("F jS Y") }}</span>
                                </div>
                                <p id="desc_{{ j }}"></p>
                                <script>
                                    function getstring(description, j) {
                                        description = description.split("&lt;img");
                                        description = description['1'].split('; /&gt;');
                                        var desc = description['1'];
                                        var image = description['0'];
                                        image = image.split("src=&quot;")
                                        image = image['1'].split("&quot;");
                                        image = image['0'];
                                        document.getElementById('desc_' + j).innerHTML = desc;
                                        document.getElementById('img_' + j).src = image;
                                    }

                                    getstring("{{ i.description }}",{{ j }});
                                </script>

                            </div>
                        </div>
                        {% set j=j+1 %}
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script>
        {% if sent != '0' %}
        {% if sent == "Email" %}
        $('#snackbar').html("Email address already taken! Kindly change your Email address");
        showtoast();
        {% elseif sent == "Login" %}
        $('#snackbar').html("Login Username already taken! Kindly change your Username");
        showtoast();
        {% elseif sent == "success" %}
        $('#snackbar').html("Successfully registered. Login to skillsfarm");
        showtoast();
        {% elseif sent == "inactive" %}
        $('#snackbar').html("Could not find you. Caould you please skillsfarm Team");
        showtoast();
        {% elseif sent == "emailsent" %}
        $('#snackbar').html("Email sent to your Inbox. Kindly change your password from the link available in inbox");
        showtoast();
        {% elseif sent == "passwordchanged" %}
        $('#snackbar').html("Password Changes successfully. Kindly Login at skillsfarm");
        showtoast();
        {% elseif sent == "jobseekernotfound" %}
        $('#snackbar').html("Your Email address and Username doesnt match. Kindly recheck.");
        showtoast();
        {% endif %}
        {% endif %}
        {% if error %}
        $('#snackbar').html('{{ error.messageKey|trans(error.messageData, 'security') }}');
        showtoast();
        {% endif %}
    </script>
{% endblock %}