{% extends "base.html.twig" %}
{% block title %}Skillsfarm{% endblock %}
{% block body %}

    <!--Breadcrumb Banner Area Start-->
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text" style="padding-left: 42%;">
                        <h2 class="text-center">Find a Job</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                                <li><a href="/">Home</a></li>
                                <li>Find a Job</li>
                            </ul>
                        </div>
                    </div>
                    <div class="job-search-content text-center brd-style">
                        <form action="{{ path('_job_search') }}" method="post" id="search_form">
                            <div class="form-container">
                                <div class="box-select" style="width: 111%;right: 44px;">
                                    <div class="select">
                                        <input type="text" placeholder="Job title/keywords" name="keyword" id="keyword"
                                               style="height: 60px;background-color: white;"
                                               value="{{ searchparameters['keyword'] }}"/>
                                    </div>
                                    <div class="select">
                                        <input type="text" placeholder="City, province or region" name="location"
                                               id="location" style="height: 60px;background-color: white;"
                                               onkeydown="initMap(this);"
                                               value="{{ searchparameters['location'] }}"/>
                                        <input type="hidden" name="latitude" id="latitude"
                                               value="{{ searchparameters['latitude'] }}"/>
                                        <input type="hidden" name="longitude" id="longitude"
                                               value="{{ searchparameters['longitude'] }}"/>
                                        <input type="hidden" name="county" id="county"
                                               value="{{ searchparameters['county'] }}"/>
                                        <input type="hidden" name="country" id="country"
                                               value="{{ searchparameters['country'] }}"/>
                                        <input type="hidden" name="isCountry" id="isCountry"
                                               value="{{ searchparameters['isCountry'] }}"/>
                                        <input type="hidden" name="radius" id="radius" value="10"/>
                                    </div>
                                    <div class="select">
                                        <div class="select">
                                            <select name="category" class="form-control" id="category">
                                                <option value="default">Job Category</option>
                                                {% for cat in category %}
                                                    <option value="{{ cat.id }}">{{ cat.vccategoryname }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="select">
                                        <div class="select">
                                            <select name="type" class="form-control" id="type">
                                                <option value="default">Job Type</option>
                                                {% for type in jobtype %}
                                                    <option value="{{ type.id }}">{{ type.vctype }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <script>
                                        document.getElementById('category').value = {% if searchparameters is defined %}'{{ searchparameters['category'] }}'
                                        {% else %}'default' {% endif %};
                                        document.getElementById('type').value = {% if searchparameters is defined %}'{{ searchparameters['type'] }}'
                                        {% else %}'default' {% endif %};
                                    </script>
                                    <div style="display: none">
                                        <input type="date" value="" id="startdate" name="startdate"/>
                                        <input type="date" value="" id="enddate" name="enddate"/>
                                    </div>
                                    <div class="select">
                                        <button type="submit">Search</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Job Post Area-->
    <div class="job-post-area ptb-130 ptb-sm-60">
        <div class="container">
            <div class="all-job-post">
                <!-- Nav tabs -->
                <div class="navigation">
                    {{ knp_pagination_render(pagination, 'knpPaginator/slidingTop.html.twig') }}
                </div>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="featured">
                        <div class="row">
                            {% if pagination|length == 0 %}
                                <span style="padding-left: 5%">
                                <h4>No Jobs found for you criteria. Kindly search for any other keyword or location.</h4>
                                </span>
                            {% else %}
                                {% for job in pagination %}
                                    <div class="col-md-6">
                                        <div class="single-job-post">
                                            <div class="address"
                                                 onclick="javascript:location.href='/description/{{ job.id }}'">
                                                <h6>{{ job.vc_shortheadline }}</h6>
                                                <p><i class="fa fa-map-marker"></i>&nbsp;&nbsp;&nbsp;{{ job.vc_locationdetails }}</p>
                                                <p><i class="fa fa-calendar"></i> &nbsp;&nbsp;&nbsp;{{ job.created_at | date('F jS Y') }}</p>
                                                <p><i class="fa fa-money"></i> &nbsp;&nbsp;&nbsp;{{ job.vc_salarydescription }}</p>
                                            </div>
                                            <div class="button-box"><a href="/description/{{ job.id }}"
                                                                       class="button button-black">Read More..</a>
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                    <div class="navigation">
                        {{ knp_pagination_render(pagination, 'knpPaginator/slidingBottom.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Job Post Area -->

    {% include "login.html.twig" %}
    {% include "register.html.twig" %}
{% endblock %}
{% block javascripts %}
    <script>
        {% if sent != 0 %}
        $('#snackbar').html("Your message has been successfully sent to skillsfarm team.");
        showtoast();
        {% endif %}
    </script>
{% endblock %}