{% extends "employerbase.html.twig" %}
{% block title %}Skillsfarm - Recruiter{% endblock %}
{% block body %}
    <section class="module bg-dark-30" data-background="/img/desk_1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                    <h1 class="module-title font-alt mb-0">welcome, {{ app.user.vcname }}</h1>
                </div>
            </div>
        </div>
    </section>
    <div class="main">
        <section class="module">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2">
                        <div role="tabpanel">
                            <ul class="nav nav-tabs font-alt" role="tablist">
                                <li class="active"><a href="#jobs" data-toggle="tab"><span
                                                class="icon-attachment"></span>JOBS</a></li>
                                {#<li><a href="#history" data-toggle="tab"><span class="icon-anchor"></span>APPLICATION#}
                                {#HISTORY</a></li>#}
                                <li><a href="#company" data-toggle="tab"><span class="icon-alarmclock"></span>COMPANY
                                        PROFILE</a>
                                </li>
                                {#<li><a href="#profile" data-toggle="tab"><span class="icon-profile-male"></span>PROFILE</a>#}
                                {#</li>#}
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active" id="jobs">
                                    <h4 style="padding-bottom: 6%;" class="font-alt mb-0">Active Jobs<span
                                                style="float:right;"> <button
                                                    class="btn btn-d btn-circle"
                                                    type="button"
                                                    onclick="javascript:location.href='/employer/add/job'"><i
                                                        class="fa fa-address-book"></i> Add Job</button></span></h4>
                                    {% for job in jobs %}
                                        <div class="panel-group" id="accordion">
                                            <div class="panel panel-default">
                                                <div class="panel-heading">
                                                    <h4 class="panel-title font-alt"><i onclick="javascript:location.href='/employer/add/job/{{ job.id }}'"
                                                            class="fa fa-edit"></i><label><i
                                                                    class="fa fa-remove"
                                                                    onclick="javascript:location.href='/employer/delete/job/{{ job.id }}'"></i>
                                                        </label><a
                                                                style="padding-left: 5%;position: initial;    float: right;"
                                                                data-toggle="collapse"
                                                                data-parent="#accordion"
                                                                href="#jobin{{ job.id }}">{{ job.vcshortheadline }}</a>
                                                    </h4>

                                                </div>
                                                <div class="panel-collapse collapse" id="jobin{{ job.id }}">
                                                    <div class="panel-body">
                                                        Headline : {{ job.vcshortheadline }}<br>
                                                        Start date : {{ job.dtlivedate|date("F jS \\a\\t g:ia") }}<br>
                                                        End date : {{ job.dtenddate |date("F jS \\a\\t g:ia") }}
                                                    </div>
                                                    <div class="panel-body">
                                                        <b>Discription:</b><br>{{ job.vcdescription }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="tab-pane" id="history">To achieve this, it would be necessary to have
                                    uniform
                                    grammar, pronunciation and more common words.
                                </div>
                                <div class="tab-pane" id="company">
                                    <div class=" col-sm-offset-1 mb-sm-40">
                                        <h4 class="font-alt">Create your own Company Profile</h4>
                                        <hr class="divider-w mb-10">
                                        <form action="{{ path('_employer_company') }}" method="post">
                                            <div class="form-group">
                                                <label for="companyname">Company Name :</label>
                                                <input type="text" id="companyname" class="form-control"
                                                       name="companyname"
                                                       placeholder="Company Name"
                                                       required style="text-transform: none;"
                                                       value="{% if company.vcname is defined %}{{ company.vcname }}{% endif %}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="companyurl">URL :</label>
                                                <input type="text" id="companyurl" class="form-control"
                                                       name="companyurl"
                                                       placeholder="Company URL"
                                                       required style="text-transform: none;"
                                                       value="{% if company.vcname is defined %}{{ company.vccompanyurl }}{% endif %}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="companydescription">Description :</label>
                                                <textarea id="companydescription" class="form-control"
                                                          name="companydescription"
                                                          placeholder="Company Description"
                                                          required style="text-transform: none;"
                                                >{% if company.vcdescription is defined %}{{ company.vcdescription }}{% endif %}</textarea>
                                            </div>
                                            {#<div class="form-group">#}
                                                {#<label for="Background">Background URL :</label>#}
                                                {#<input type="text" id="Background" class="form-control"#}
                                                       {#name="Background"#}
                                                       {#placeholder="Background URL"#}
                                                       {#required style="text-transform: none;"#}
                                                       {#value="{% if company.vcdescription is defined %}vcdescription{{ company.vcurl }}{% endif %}"/>#}
                                            {#</div>#}
                                            <div class="form-group">
                                                <label for="videourl">Video URL :</label>
                                                <input type="text" id="videourl" class="form-control"
                                                       name="videourl"
                                                       placeholder="Video URL"
                                                       required style="text-transform: none;"
                                                       value="{% if company.vcvideourl is defined %}{{ company.vcvideourl }}{% endif %}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="facebook">Facebook :</label>
                                                <input type="text" id="facebook" class="form-control"
                                                       name="facebook"
                                                       placeholder="Facebook"
                                                       required style="text-transform: none;"
                                                       value="{% if company.vcfacebook is defined %}{{ company.vcfacebook }}{% endif %}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="twitter">Twitter :</label>
                                                <input type="text" id="twitter" class="form-control"
                                                       name="twitter"
                                                       placeholder="Twitter"
                                                       required style="text-transform: none;"
                                                       value="{% if company.vctwitter is defined %}{{ company.vctwitter }}{% endif %}"/>
                                            </div>
                                            <div class="form-group">
                                                <label for="linkedin">LinkedIn :</label>
                                                <input type="text" id="linkedin" class="form-control"
                                                       name="linkedin"
                                                       placeholder="Linked IN"
                                                       required style="text-transform: none;"
                                                       value="{% if company.vclinkedin is defined %}{{ company.vclinkedin }}{% endif %}"/>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-round btn-b">Save</button>
                                            </div>
                                            {#<div class="form-group"><a href="">Save & Preview?</a></div>#}
                                        </form>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% include "employerfooter.html.twig" %}
    </div>
{% endblock %}
