<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span
                        class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                        class="icon-bar"></span><span class="icon-bar"></span></button>
            <a class="navbar-brand" href="{{ path('_employer_home') }}">SKILLSFARM</a>
        </div>
        <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a href="{{ path('_employer_home') }}">Home</a>
                </li>
                <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Job</a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('_employer_addjob') }}">Add Job</a></li>
                        <li><a href="{{ path('_employer_index') }}">View Jobs</a></li>
                        <li><a href="{{ path('_employer_index') }}">Application History</a></li>
                    </ul>
                </li>
                <li class="dropdown"><a href="{{ path('_contactus') }}">Contact us</a>
                </li>
                <li class="dropdown"><a href="{{ path('_employer_pricing') }}">Pricing</a>
                </li>
                <li class="dropdown"><a href="{{ path('_home') }}">Jobseekers</a>
                </li>
                <li class="dropdown"><a href="/blogs">Blogs</a>
                </li>
                {% if app.user is defined and app.user is not null %}
                    <li class="dropdown"><a href="{{ path('_employer_index') }}">My Account</a>
                    </li>
                    <li class="dropdown"><a href="{{ path('_employer_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="dropdown"><a href="{{ path('_employer_login') }}">Register</a>
                    </li>
                    <li class="dropdown"><a href="{{ path('_employer_login') }}">Login</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>