<footer class="footer-area">

    <div class="footer-top bg-opacity-dark-blue-90 ptb-60">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pb-sm-30">
                    <div class="subscribe-text">
                        <h3><a href="{{ path('_contactus') }}">Advertise with Us</a></h3>
                    </div>
                </div>
                <div class="col-md-6">
                    <h3 style="color: white;">Let us Contact you</h3>
                    <img src="/img/loading1.gif" id="notify-loader"
                         style="width: 100px;height: 73px;display: none;margin-left: 30%;"/>
                    <div class="subscribe-form" id="notify-span">
                        <input type="email" name="emailtonotify" id="emailtonotify" placeholder="Enter Your Email.....">
                        <button onclick="submitnotify();">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-widget-area ptb-80 pb-sm-30" style="background-color:black">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-5">
                    <div class="single-footer-widget">
                        <h3 class="text-white mb-26">GET IN TOUCH</h3>
                        <span class="text-white mb-9"><i class="fa fa-phone"></i> +91 8848920235 </span>
                        <span class="text-white mb-9"><i class="fa fa-envelope"></i>skillsfarmindia@gmail.com</span>
                        <span class="text-white mb-9"><i class="fa fa-globe"></i>skillsfarm.in</span>
                        <span class="text-white mb-9"><i class="fa fa-map-marker"></i>Gottigere, Bangalore</span>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3">
                    <div class="single-footer-widget">
                        <h3 class="text-white mb-21">By Regions</h3>
                        <ul class="footer-list">
                            <li><a href="javascript:searchforJobsin('Bangalore')">Banglore</a></li>
                            <li><a href="javascript:searchforJobsin('Chennai')">Chennai</a></li>
                            <li><a href="javascript:searchforJobsin('Hyderabad')">Hyderabad</a></li>
                            <li><a href="javascript:searchforJobsin('Mumbai')">Mumbai</a></li>
                            <li><a href="javascript:searchforJobsin('Delhi')">Delhi</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 d-md-none d-lg-block">
                    <div class="single-footer-widget">
                        <h3 class="text-white mb-21">Job Types</h3>
                        <ul class="footer-list">
                            <li><a href="javascript:searchforJobsin('Bangalore')">Full Time Job</a></li>
                            <li><a href="javascript:searchforJobsin('Bangalore')">Part Time Job</a></li>
                            <li><a href="javascript:searchforJobsin('Bangalore')">Temporary Job</a></li>
                            <li><a href="javascript:searchforJobsin('Bangalore')">Internship Job</a></li>
                            <li><a href="javascript:searchforJobsin('Bangalore')">Work From Home</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 d-md-none d-lg-block">
                    <div class="single-footer-widget">
                        <h3 class="text-white mb-21">Services</h3>
                        <ul class="footer-list">
                            <li><a href="{{ path('custom_softskills') }}">Soft Skills</a></li>
                            <li><a href="{{ path('custom_careercounselling') }}">Career Counselling</a></li>
                            <li><a href="{{ path('custom_communicationskills') }}">Communication Skills</a></li>
                            <li><a href="{{ path('custom_facultytraining') }}">Faculty Training</a></li>
                            <li><a href="{{ path('custom_placementservices') }}">Placement services</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Footer Widget-area-->
    <!-- Start of Footer area -->
    <div class="copyright-area text-center ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="footer-text">
                        <span class="text-white block"> Copyright&copy; <a
                                    href="/aboutus">Skillsfarm</a>.All right reserved.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>