{% extends "base.html.twig" %}
{% block title %}Skillsfarm{% endblock %}
{% block body %}
    <div class="breadcrumb-banner-area pt-94 pb-85 bg-3">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                 <div class="breadcrumb-text" style="padding-left: 42%;">
                        <h2 class="text-center">Create Profile</h2>
                        <div class="breadcrumb-bar">
                            <ul class="breadcrumb text-center m-0">
                                <li>
                                    <a href="index.html">Home</a>
                                </li>
                                <li>Resume</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End of Breadcrumb Banner Area-->
    <!--Start of Single Job Post Area-->
    <div class="single-job-post-area ptb-130 ptb-sm-60">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mr-auto ml-auto">
                    {{ form_start(form) }}
                    <div class="single-job-content">
                        <div class="title">
                            <span>Profile</span>
                            <a href="{{ path('_jobseeker_profile_edit_education') }}" style="float:right">Edit
                                Education</a>
                        </div>
                        <div class="single-job-form">
                            <div class="single-info pb-14">
                                <label for="f_name" class="uppercase pull-left m-0">First Name</label>
                                <div class="form-box fix">
                                    {{ form_widget(form.vc_firstname, { 'attr': {'placeholder': 'First Name'} }) }}
                                </div>
                            </div>
                            <div class="single-info pb-14">
                                <label for="m_name" class="uppercase pull-left m-0">Middle name</label>
                                <div class="form-box fix">
                                    {{ form_widget(form.vc_secondname, { 'attr': {'placeholder': 'Second Name'} }) }}
                                </div>
                            </div>
                            <div class="single-info  pb-14">
                                <label for="l_name" class="uppercase pull-left m-0">last name</label>
                                <div class="form-box fix">
                                    {{ form_widget(form.vc_surname, { 'attr': {'placeholder': 'Sur Name'} }) }}
                                </div>
                            </div>
                            <div class="single-info pb-14">
                                <label for="l_name" class="uppercase m-0">gender</label>
                                <span style="float: right;width: 79%;">
                                    {{ form_widget(form.bo_sex) }}
                                      </span>
                            </div>
                            <div class="single-info pb-14">
                                <label class="uppercase pull-left m-0">DOB</label>
                                <div style="float: left;">
                                    {{ form_widget(form.dt_dob) }}
                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <span>Contact Information</span></div>
                        <div class="single-job-form">
                            <div class="single-info mb-14">
                                <label for="country" class="uppercase pull-left m-0">Location</label>
                                <div class="form-box fix">
                                    {{ form_widget(form.vc_location, {  'id':'location','attr': {'placeholder': 'Enter You location','onkeydown':'initMap(event)' } }) }}
                                    {{ form_widget(form.db_latitude, {  'id':'latitude'}) }}
                                    {{ form_widget(form.db_longitude, {  'id':'longitude'}) }}
                                    {{ form_widget(form.vc_country, {  'id':'country'}) }}
                                </div>
                            </div>
                            {{ form_widget(form.db_latitude) }}
                            {{ form_widget(form.db_longitude) }}
                            <div class="single-info mb-14">
                                <label for="phone" class="uppercase pull-left m-0">phone</label>
                                <div class="form-box fix">
                                    {{ form_widget(form.vc_phone, { 'attr': {'placeholder': 'Phone number'} }) }}
                                </div>
                            </div>
                            <div class="single-info mb-14">
                                <label for="email" class="uppercase pull-left m-0">email</label>
                                <div class="form-box fix">
                                    {{ form_widget(form.vc_email, { 'attr': {'placeholder': 'Email addres'} }) }}
                                </div>
                            </div>
                            <div class="single-info mb-14">
                                <label for="website" class="uppercase pull-left m-0">Headline</label>
                                <div class="form-box fix">
                                    {{ form_widget(form.vc_headline, { 'attr': {'placeholder': 'Headline'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="title">
                            <span>Biography</span></div>
                        <div class="single-job-form">
                            <div class="single-info mb-14 fix">
                                <label class="uppercase pull-left m-0">description</label>
                                <div class="desc fix">
                                    {{ form_widget(form.vc_description, { 'attr': {'placeholder': 'description..'} }) }}
                                </div>
                            </div>
                        </div>
                        <div class="single-job-form" style="display: none">
                            <div class="single-info mb-14">
                                <label class="uppercase pull-left m-0">Subscription</label>
                                <span style="float: right;width: 79%;">
                                    {{ form_widget(form.bo_subscriptionletter) }}
                                </span>
                            </div>
                        </div>
                    </div>

                </div>
                <input type="submit" value="Save" id="formsubmit"/>
              {{ form_end(form) }}
            </div>
        </div>
    </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script>
        {% if sent != 0 %}
        $('#snackbar').html("Profile details Successfully edited");
        showtoast();
        {% endif %}
    </script>
{% endblock %}